.main-layout {
    display: grid;
    grid-template-areas:
        "header header header header"
        "sidenav main main main"
        "footer footer footer footer"
    ;
    grid-template-rows: 5vh 1fr 5vh;
    grid-template-columns: minmax(fit-content, 10%) 1fr;
    height: 100vh;

}