.app-header {
    grid-area: header;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;

    padding: 0 20px;

    .company-picker {
        display: flex;
        align-items: center;

        &>* {
            margin-inline-end: 10px;
        }

        select {
            border-radius: 3em;
            text-align: center;
            height: 75%;
            align-self: center;
        }
    }
}